@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

#blazor-error-ui {
    background: lightyellow;
    color: #212529;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1030;
}

#blazor-error-ui .reload {
    color: #0d6efd;
    text-decoration: underline;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

:root {
     --lpx-brand: #1D3A78;
    --lpx-logo: url('/images/buddha-tech/logo.webp');
    --lpx-logo-icon: url('/images/buddha-tech/logo.webp');
}

:root .abp-account-layout .lpx-brand-logo{
    --lpx-logo: url('/images/logo/leptonxlite/logo-dark-thumbnail.png');
    background-position: left;
}
/*
.lpx-side-menu, .lpx-sidebar {
    background-color: #1D3A78 !important;
}

.lpx-main-menu,
.lpx-side-menu-content {
    background-color: #1D3A78 !important;
}*/
